.search_wrap{
    margin: 0 auto;
}
.search{
    display: flex;
    height: 47px;
    border-bottom: 1px solid #CBCBCB;

}
.search_input{
    width: 100%;
    border: none;
    font-size: 2.0rem;
    font-weight: 500;
    padding: 0 0px 0 10px;
    outline: none;
    background-color:#a79797;

}